
$breakpoint-mobile: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$light-one: #CCCCCC;
$light-two: #707070;
$light-three: #1E1E1E;

$dark-line: #303030;
$dark-background: #0F0F0F;
$dark-one: #4E4E4E;
$dark-two: #CECECE;
$dark-three: #FFFFFF;